<!DOCTYPE html>
<html>
<head>
    <title>Penguin Cove</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="~/ijsberg_1045-685.jpg">

    <style>

    </style>

</head>
<body>
    <nav>
        <div><a href="/">HOME</a></div>
        <div><a href="/Menu">MENU</a></div>
        <div><a href="/Zakelijk">CONTACT</a></div>
        <div><a href="/About">ABOUT</a></div>
        <div><a href="/FAQ">FAQ</a></div>

    </nav>
    <div class="header">
        <img alt="Penguin Cove" src="~/css/peng.png" />
    </div>


    @RenderBody()
<footer>
    <div><h3>INDEX</h3></div>
    <div><h3>CONTACT</h3></div>
    <div><h3>MENU</h3></div>
    <div><h3>ABOUT</h3></div>
    <div><h3>FAQ</h3></div>
</footer>
</body>
</html>
