@using SchoolTemplate.Database;
@{
    ViewData["Zakelijk"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Menu.css" />
<p>The Penguin Cove is an establishment which was founded in the early 2000's.<br />We strive to excite our guest everytime they pay us a visit. Therefore we never want to give our guests a 
    similar experience to the previous nights.</p>