@model SchoolTemplate.Database.Performers
@{
  ViewData["Title"] = "Index";
}

  <h1>Welcome to the Penguin Cove!</h1>

  <p>
    The Penguin Cove is a bar for everyone who enjoys spending their evenings with the finest of cocktails and with a broad variety of bands and performers who lighten up the place.
<br /><br />
    We love to meet new people, we even have a try menu where you can discover your taste in cocktails. We also offer some of the best food you can find in The Hague. All in all, you won't regret paying us a visit.
  <br /><br />Below you can find the upcomming shows and performers.
  </p>