@using SchoolTemplate.Database;
@{
    ViewData["Zakelijk"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Menu.css" />
<p>Here you will find what we have to offer.<br />The food changes every week but the cocktails will remain the same!</p>